
/*** Style Sheet For TENTATIVE TITLE ***/

/** Tag Styles **/

body {
	margin 0;
	padding-bottom: 30px;
	font-family: 'Merriweather', serif;
	overflow-x: hidden;
}

.main-sec {
	font-family: 'Merriweather', serif;
}

/** Class Styles **/

.top-bar {
	background-color: #8b0000;
	color: white;
	text-align: center;
	height: 150px;
	margin-bottom: 40px;
}


.site-title {
	font-family: 'Oleo Script', cursive;
	font-size: 4.5em;
	padding-top: 20px;
}


.sub-title {
	font-size: 3em;
	padding-left: 5%;
	padding-top: 35px;
}

.norm-text {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

/* Timeline Styling */

.timeline {
	width: 90%;
	margin: 0 auto;
	height: 10px;
	background: #d7ba89;
	margin-top: 30px;
}

.tl-row-1 {
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.tl-row-2 {
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.tl-item {
	background-color: #8b0000;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid #8b0000;
  margin-left: 45%;
  top: -4px;
  position: relative;
  top: -9px;
}

.tl-blurb {
	font-family: 'Open Sans', sans-serif;
}


/* Carousel Styling */

.carousel {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
}

.carousel-item {
	background-color: #8b0000;
	height: 400px;
}

.car-img-1 {
	scale: 70%;
	position: relative;
	top: 20px;
}

.car-img-2 {
	padding-left: 285px;
	scale: 90%;
	position: relative;
	top: 12px;
}

.car-img-3 {
	scale: 22%;
  	position: relative;
  	top: -540px;
  	left: -122px;
}

.car-caption-1 {
	position: relative;
	bottom: -50px;
	height: 150px;
	background-color: #d7ba89;
	text-align: center;
}

.car-caption-2 {
	position: relative;
	bottom: -30px;
	height: 150px;
	background-color: #d7ba89;
	text-align: center;
}

.car-caption-3 {
	position: relative;
	height: 150px;
	background-color: #d7ba89;
	bottom: -254px;
	text-align: center;
}

.dict-title {
	color: white;
	padding-top: 8px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.dict-blurb {
	color: white;
	font-size: 0.95em;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: -5px;
}


/* Banned Words Styling */

.banned-row {
	padding-right: 8%;
	padding-left: 8%;
}

.banned-table {
	margin-top: 50px;
}

.banned-blurb {
	font-family: 'Open Sans', sans-serif;
}


.banned-title {
	font-size: 2em;
	font-weight: bold;
}

/* Response Styling */

.response-row {
	padding-left: 6%;
	padding-right: 6%;
}

.resp-title {
	font-size: 10em;
}

.pro {
	color: green;
	position: relative;
	left: 35%;
	font-size: 0.25em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

.anti {
	color: red;
	position: relative;
	left: 35%;
	font-size: 0.25em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.resp {
	font-family: 'Open Sans', sans-serif;
}


/* Reference Styling */

.ref-list {
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;

}

.ref-tag {
	color: black;
}

